<template>
<div class="weatherWidget">
  <div class="weatherWidget__header">
    <p class="weatherWidget__title">Погода на сегодня</p>
    <button class="weatherWidget__settings" @click="popupActive"></button>
  </div>
  <div class="weatherWidget__places">
    <WidgetCard
        v-for="weather in weatherDataList"
        :weatherData="weather"
        :key="`${weather.weather.lat}${weather.weather.lon}`"
    />
  </div>
</div>
  <WidgetSettings />
</template>

<script setup lang="ts">
import WidgetCard from "@/components/WidgetCard.vue";
import WidgetSettings from "@/components/WidgetSettings.vue";
import {useSettings,} from '@/hooks/useSettings';
import { useWeatherData } from '@/hooks/useWeatherData';

const { weatherDataList, getCurrentWeatherData, getWeatherData } = useWeatherData();
const { openPopup } = useSettings();
const citiesCords = getCords();

function popupActive () {
  openPopup();
}

function getCords(): {lat: number, lon: number}[] {
  const item = localStorage.getItem('weatherForecastCords');
  if(item) {
    return JSON.parse(item);
  }
  return [];
}

if(citiesCords.length ) {
  getWeatherData(citiesCords);
}else {
  getCurrentWeatherData();
}

</script>

<style scoped lang="scss">
.weatherWidget {
  width: 350px;
  background: url("/src/images/background.jpeg");
  background-size: cover;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: rgb(255,255,255, 0.4)
  }

  &__settings {
    background: url("/src/components/icons/settings.svg");
    width: 30px;
    height: 30px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__places {
    padding: 10px 20px;
  }
}
</style>
