<template>
  <div v-if="isOpen" class="widgetSettings popup">
    <div class="widgetSettings__header">
      <p class="widgetSettings__title">Settings</p>
      <button class="widgetSettings__closeBtn" @click="closePopup"></button>
    </div>
    <p class="widgetSettings__note" v-if="weatherDataList.length > 0"> Вы можете менять порядок городов перетаскивая их
      в этом списке </p>

    <Draggable
        v-model="weatherDataList"
        :component-data="{ tag: 'div', type: 'transition' }"
        @start="isDragging = true"
        @end="isDragging = false"
        class="widgetSettings__list"
    >
      <template #item="{ element }">
        <div class="widgetSettings__item"
             @click="element.fixed = !element.fixed"
             aria-hidden="true">
          <span class="widgetSettings__itemTitle">{{ element.geo.name }}</span>
          <button class="widgetSettings__itemDelete" @click="deleteCity(element.geo)"></button>
        </div>
      </template>
    </Draggable>

    <div class="widgetSettings__add">
      <p class="widgetSettings__addTitle">Добавить город</p>
      <div class="widgetSettings__addContainer">
        <input type="text" class="widgetSettings__addItem" v-model="title">
        <button class="widgetSettings__addBtn" @click="searchCity"></button>
      </div>
    </div>
    <div class="widgetSettings__addCity" v-if="startSearch">
      <div class="widgetSettings__cities">
        <ul class="widgetSettings__citiesList">
          <li class="widgetSettings__citiesItem"
              v-for="city in citiesList"
              @click="addCity(city)"
              :key="city.name">{{ city.name }}, {{ city.country }}, {{ city.state }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Draggable from 'vuedraggable'
import {useSettings} from '@/hooks/useSettings';
import {useWeatherData} from '@/hooks/useWeatherData';
import {api} from "@/api/api";
import {ref} from "vue";
import type {Geo} from "@/interfaces/geo.interface";

const {isOpen, startSearch,} = useSettings();
const {weatherDataList} = useWeatherData();
const title = ref<string>('');
const citiesList = ref<Geo[]>([]);

async function searchCity() {
  startSearch.value = true;

  const cities = await api.geo.getGeoDate(title.value, 10)
  citiesList.value = cities;
}

async function addCity(geo: Geo) {
  const cityWeather = await api.weather.getWeatherDate(geo.lat, geo.lon);

  weatherDataList.value.push({
    geo,
    weather: cityWeather
  })

  localStorage.setItem('weatherForecastCords', JSON.stringify(weatherDataList.value.map((item)=> {
    return {lat: item.geo.lat, lon: item.geo.lon}
  })));

  closePopup();
}

function deleteCity(geo: Geo): void {
  const index = weatherDataList.value.findIndex(item => geo.lat === item.geo.lat && geo.lon === item.geo.lon);

  weatherDataList.value.splice(index, 1);

  localStorage.setItem('weatherForecastCords', JSON.stringify(weatherDataList.value.map((item)=> {
    return {lat: item.geo.lat, lon: item.geo.lon}
  })))
}

function closePopup() {
  isOpen.value = false;
  startSearch.value = false;
  title.value = '';
}

</script>

<style scoped lang="scss">
.widgetSettings {
  width: 350px;
  background: #bed0e6;
  position: absolute;
  top: 0;

  &__header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__closeBtn {
    border: none;
    outline: none;
    background: url("/src/components/icons/close.png");
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: grab;
  }

  &__itemTitle {
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__itemDelete {
    background: url("/src/components/icons/delete.png");
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-size: cover;
    margin-left: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__add {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__addContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__addList {
    width: 150px;
  }

  &__addBtn {
    background: url("/src/components/icons/plus.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: absolute;
    right: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &__addItem {
    border: none;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    outline: none;
  }

  &__cities {
    background: lightsteelblue;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__citiesList {
    list-style: none;
    padding: 19px 10px 10px 10px;
    color: #333333;
    font-weight: bold;
  }

  &__citiesItem {
    margin-bottom: 10px;
    border-bottom: 1px dashed;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }
  }

  &__note {
    padding: 0 20px;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
</style>
