<template>
  <div class="widgetCard">
    <p class="widgetCard__placeTitle">
      <span class="widgetCard__placeCity">{{weatherData.geo.name}},  </span>
      <span class="widgetCard__placeCountry">{{weatherData.geo.state}}</span>
    </p>
    <div class="widgetCard__temperature">
      <img class="widgetCard__temperatureIcon" alt="temperature" :src="`http://openweathermap.org/img/wn/${weatherData.weather.current.weather[0].icon}@2x.png`">
      <p class="widgetCard__temperatureValue">{{Math.round(weatherData.weather.current.temp)}} °C</p>
    </div>
    <div class="widgetCard__parameters">
      <p class="widgetCard__parameter">
        <span class="widgetCard__parameterTitle">Ощущается как: </span>
        <span class="widgetCard__parameterValue"> {{Math.round(weatherData.weather.current.feels_like)}} °C</span>
      </p>

      <p class="widgetCard__parameter">
        <span class="widgetCard__parameterTitle">Вероятность осадков: </span>
        <span class="widgetCard__parameterValue"> {{Math.round(weatherData.weather.daily[0].pop) }} %</span>
      </p>

      <p class="widgetCard__parameter">
        <span class="widgetCard__parameterTitle">Давление: </span>
        <span class="widgetCard__parameterValue"> {{Math.round(weatherData.weather.current.pressure) }} мм рт.ст.</span>
      </p>

      <p class="widgetCard__parameter">
        <span class="widgetCard__parameterTitle">Влажность: </span>
        <span class="widgetCard__parameterValue"> {{Math.round(weatherData.weather.current.humidity) }} %</span>
      </p>

      <p class="widgetCard__parameter">
        <span class="widgetCard__parameterTitle">Ветер, м/сек: </span>
        <span class="widgetCard__parameterValue"> {{Math.round(weatherData.weather.current.wind_speed) }}</span>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">

import type {PropType} from "vue";
import type {CityWeather} from "@/interfaces/cityWeather.interface";

defineProps({
  weatherData: Object as PropType<CityWeather>,
});

</script>

<style scoped lang="scss">
.widgetCard {

  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &__temperature {
    display: flex;
    align-items: center;
  }

  &__temperatureValue {
    font-size: 40px;
    color: #333333;
    font-weight: 200;
  }

  &__parameter {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #333333 dashed;
  }

}
</style>
