<template>
  <div class="app">
    <div class="app__container">
        <WeatherWidget />
    </div>
  </div>
</template>

<script setup lang="ts">
import WeatherWidget from './components/WeatherWidget.vue'
</script>

<style scoped lang="scss">
.app {
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  &:deep(.app__container) {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  }
}
</style>
